@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Poppins:wght@400;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-light-bg text-light-text;
  font-family: "Merriweather", serif;

}

@media (prefers-color-scheme: dark) {
  body {
    @apply bg-dark-bg text-dark-text;
  }
}

* {
  scrollbar-width: none;

  scrollbar-color: #feb47b #f3f3f3;
}
